.footer {
  height: 150px;
  position: relative;
  box-sizing: border-box;
  padding-top: 85px;
  color: #aaa;
  line-height: 24px;
}
.footer-image {
  width: 100%;
  position: fixed;
  bottom: 75px;
  z-index: -10;
  text-align: center;
  opacity: 0;
  transition: all ease 300ms;
  transition-delay: 100ms;
  img {
    height: 50px;
    width: 50px;
  }
}