<!DOCTYPE html>
<!--[if lt IE 11]> <html class="ie"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html>
<!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CLEVERIOUS -- Clever People with clever ideas --</title>
  <link href="//cdn.bootcss.com/normalize/3.0.3/normalize.min.css" rel="stylesheet">
  <link href="//cdn.bootcss.com/antd/1.3.0/antd.min.css" rel="stylesheet">
</head>
<body>
  <div id="main">
  </div>
</body>
</html>
