$anime_delay: 100ms;

.page-container.clothes {
  background: #fff;
  color: #666;
  .ant-spin.ant-spin-spinning {
    left: 0;
  }
  .page-clothes-showcase {
    min-height: 300px;
    box-sizing: border-box;
    padding: 50px;

    .page-clothes-showcase-cards {
      max-width: 1000px;
      margin: 0 auto;
      .showcase-card-container {
        margin-bottom: 20px;
        .showcase-card {
          width: 200px;
          height: 300px;
          margin: 0 auto;
          cursor: pointer;
          .custom-card {
            h5 {
              margin: 5px 0;
              font-weight: bold;
            }
            .cloth-tags {
              span {
                margin: 0 3px;
              }
            }
          }
          .custom-image {
            border-bottom: 1px solid #e9e9e9;
            height: 255px;
            line-height: 255px;
            img {
              vertical-align: middle;
            }
          }
        }

        &.empty {
          .showcase-card {
            border: dashed 1px #ABABA1;
            border-radius: 6px;
            cursor: default;
            background-image: url('./../../../../assets/images/clothcomingsoon.png');
          }
        }
      }
    }

    .page-clothes-showcase-pageing {
      text-align: center;
    }
  }
}

@media (min-width: 0px) {
  .page-container.clothes {
    .page-clothes-showcase {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
@media (min-width: 992px) {
  .page-container.clothes {
    .page-clothes-showcase {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}

// anime
.page-container.clothes {
  .page-clothes-showcase-cards .showcase-card-container,
  .pagination {
    transform: translateY(20px);
    opacity: 0;
    transition: all 300ms ease;
  }
}
body.clothes:not(.scrolling) {
  .page-container.clothes {
    .page-clothes-showcase-cards .showcase-card-container,
    .pagination {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
.page-container.clothes {
  .page-clothes-showcase-cards .showcase-card-container.card0 { transition-delay: 0 }
  .page-clothes-showcase-cards .showcase-card-container.card1 { transition-delay: $anime_delay*1 }
  .page-clothes-showcase-cards .showcase-card-container.card2 { transition-delay: $anime_delay*2 }
  .page-clothes-showcase-cards .showcase-card-container.card3 { transition-delay: $anime_delay*3 }
  .page-clothes-showcase-cards .showcase-card-container.card4 { transition-delay: $anime_delay*4 }
  .page-clothes-showcase-cards .showcase-card-container.card5 { transition-delay: $anime_delay*5 }
  .pagination { transition-delay: $anime_delay*6 }
}