.clv-canvas {
  height: 310px;
  .logo-text {
    height: 50px;
    line-height: 50px;
    margin-top: 25px;
    img {
      vertical-align: middle;
      width: 300px;
      margin-left: 8px;
    }
  }
  .logo-coming-soon {
    font-size: 20px;
    color: #ABABA1;
    margin-top: 20px;
    font-weight: 100;
  }
}