$size: 10px;

.pagination {
  height: $size;
  text-align: center;
  margin-top: 25px;
  .pagination-node {
    height: $size;
    width: $size;
    background: #ABABA1;
    border-radius: $size / 2;
    cursor: pointer;
    margin: 0 $size / 2;
    display: inline-block;
    vertical-align: top;

    &.active {
      background: #404055;
    }
  }
}