* {
  box-sizing: border-box;
}
html, body, #main {
  height: 100%;
}
body {
  background: rgb(64, 64, 85);
  background: radial-gradient(rgb(80, 80, 100), rgb(46, 45, 60));
}
#main {
  position: relative;
  display: table !important;
  table-layout: fixed;
  width: 100%;
  color: rgb(251, 251, 239);
  .container {
    display: table-cell;
    width: 100%;
    padding: 0;
    border: 0;
    vertical-align: middle;
    text-align: center;
  }
  .velocity-span {
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
  }
}