* {
  box-sizing: border-box;
}
html, body, #main {
  height: 100%;
}
#main {
  position: relative;
  display: table !important;
  table-layout: fixed;
  width: 100%;
  #container {
    display: table-cell;
    width: 100%;
    padding: 0;
    border: 0;
    vertical-align: middle;
    text-align: center;
  }
}