.clv-canvas {
  height: 360px;
  .logo-text {
    height: 50px;
    line-height: 50px;
    margin-top: 25px;
    img {
      vertical-align: middle;
      width: 300px;
    }
  }
  .logo-coming-soon {
    font-family: 'sinkinsans100';
    font-size: 28px;
    color: #ABABA1;
    margin-top: 50px;
  }
}
@font-face {font-family: "sinkinsans100";
  src: url('./../../assets/fonts/SinkinSans-100Thin.eot'); /* IE9*/
  src: url('./../../assets/fonts/SinkinSans-100Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./../../assets/fonts/SinkinSans-100Thin.woff') format('woff'), /* chrome, firefox */
  url('./../../assets/fonts/SinkinSans-100Thin.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./../../assets/fonts/SinkinSans-100Thin.svg#iconfont') format('svg'); /* iOS 4.1- */
}